article{
  font: left;
  background-color:#f5f5dc;
  padding: 150px;
}
img{
  float:left;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
margin:3em;
border-color: yellow;
}

body{
  background-color: whitesmoke;
}
